<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>serviceBroker</servlet-name>
    <servlet-class>myApp.server.ServiceBrokerImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serviceBroker</servlet-name>
    <url-pattern>/wbht/serviceBroker</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HTMLCeo</servlet-name>
    <servlet-class>myApp.server.hom.HTMLCeo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HTMLCeo</servlet-name>
    <url-pattern>/HTMLCeo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HTMLGreetings</servlet-name>
    <servlet-class>myApp.server.hom.HTMLGreetings</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HTMLGreetings</servlet-name>
    <url-pattern>/HTMLGreetings</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HTMLOutline</servlet-name>
    <servlet-class>myApp.server.hom.HTMLOutline</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HTMLOutline</servlet-name>
    <url-pattern>/HTMLOutline</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HTMLHistory</servlet-name>
    <servlet-class>myApp.server.hom.HTMLHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HTMLHistory</servlet-name>
    <url-pattern>/HTMLHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HTMLOrganization</servlet-name>
    <servlet-class>myApp.server.hom.HTMLOrganization</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HTMLOrganization</servlet-name>
    <url-pattern>/HTMLOrganization</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HTMLYourWay</servlet-name>
    <servlet-class>myApp.server.hom.HTMLYourWay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HTMLYourWay</servlet-name>
    <url-pattern>/HTMLYourWay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HTMLYourWay2</servlet-name>
    <servlet-class>myApp.server.hom.HTMLYourWay2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HTMLYourWay2</servlet-name>
    <url-pattern>/HTMLYourWay2</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>HTMLIntroduction</servlet-name>
    <servlet-class>myApp.server.hom.HTMLIntroduction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HTMLIntroduction</servlet-name>
    <url-pattern>/HTMLIntroduction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HTMLCompetitiveness</servlet-name>
    <servlet-class>myApp.server.hom.HTMLCompetitiveness</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HTMLCompetitiveness</servlet-name>
    <url-pattern>/HTMLCompetitiveness</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>HTMLCore</servlet-name>
    <servlet-class>myApp.server.hom.HTMLCore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HTMLCore</servlet-name>
    <url-pattern>/HTMLCore</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HTMLPatent</servlet-name>
    <servlet-class>myApp.server.hom.HTMLPatent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HTMLPatent</servlet-name>
    <url-pattern>/HTMLPatent</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HTMLCertification</servlet-name>
    <servlet-class>myApp.server.hom.HTMLCertification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HTMLCertification</servlet-name>
    <url-pattern>/HTMLCertification</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>FileUpload</servlet-name>
    <servlet-class>myApp.server.utils.file.FileUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUpload</servlet-name>
    <url-pattern>/FileUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileDownload</servlet-name>
    <servlet-class>myApp.server.utils.file.FileDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDownload</servlet-name>
    <url-pattern>/FileDownload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileDelete</servlet-name>
    <servlet-class>myApp.server.utils.file.FileDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileDelete</servlet-name>
    <url-pattern>/FileDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PDFLoader</servlet-name>
    <servlet-class>myApp.server.utils.pdf.PDFLoader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PDFLoader</servlet-name>
    <url-pattern>/PDFLoader</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>WBHT.html</welcome-file>
  </welcome-file-list>
</web-app>